.sliderContainer {
  width: 100%;
  margin: auto;
  height: 350px;
  padding-top: 10px;
  position: relative;
  
}

.sliderImage {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px; 
}


.slick-slide > div {
  margin: 0 15px; 
}


.slick-list {
  margin: 0 -15px;
}

.cardContent {
  position: absolute;
  
  left: 15px;
  color: white;
  font-weight: bold;
}


.arrowPre,
.arrowNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.arrowPre {
  left: -30px;
}
.arrowNext {
  right: -30px;
}

.arrowPre:hover,
.arrowNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
